.search-box-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cards-container{
  display: flex;
  width: auto;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;


}

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.MuiCard-root{
  margin-right:1%;
}

@media only screen and (max-width: 767px) {
 .cards-container{
   display: block;
 }
 .MuiCard-root{
  margin-bottom:5%;
  margin-right: 5%;
  margin-left: 5%;
}
}
